
@import url('http://fonts.googleapis.com/css?family=Amatic+SC:400,700,400italic,700italic');
@import url('http://fonts.googleapis.com/css?family=Karla:400italic,800italic,400,800');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');

H1, H2, H3 {
    text-align:center; 
    color:#404040; 
    font-family: 'Amatic SC', sans-serif;
    font-size: 200%;} 

H1 {font-size: 254%;
    letter-spacing: 7px;}

H3 {font-family: 'Open Sans';
    font-weight: 300;
    font-size: 160%;
    margin-top: 60px;
}

H4 {font-family: 'Open Sans';
    font-weight: 700;
    font-size: .92em;  
    color:#404040;
    margin:0;
}
li{
    margin-bottom: 10px;
}

p{
    margin-bottom: 30px;
}

p, td, finePrint, li {
    font-family: 'Open Sans';
    text-align: left;
    font-size: .92em;
    color: #404040;
    line-height: 160%;
    }

td{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#index{
    text-align: center;
}

#contact{
    text-align: center;
}

finePrint {
    color:#404040; 
    font-size: 12px;
    text-align: center;
    color: #A1A1A1 !important;
}    

.lRNavigation {
    color: #A1A1A1 !important;
}

span {font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    color:#A1A1A1;
    line-height: 40%;
    margin-bottom: 
}

#footer {
    bottom: 10px;
    width: 100%;
    text-align: center;
}



body {
    background-color: #FFFFFF;
} 

 /* navigation bar at top of each page */

.navbarLink {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 15pt;
    color: black;
    margin-left: 18px;
    margin-right: 18px;
    color: #A1A1A1 !important;
}

.selected {
    color: #404040 !important;
}

.textLink {
font-family: 'Open Sans';
    text-align: left;
    font-size: 16px;
    color: #404040;;
}
.resume{
    text-align: center;
}

 img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 30px;

}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

#nav {
    display: table;
    line-height:46px;
    background-color:#FFFFFF;
    height:175px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 25px;
}

#rightNav {
    float:right;
    margin-right: 100px;
    padding-top: 35px;
}

#leftNav {
    float:left;
    margin-left: 100px;
    padding-top: 35px;
}

.dog {
    line-height:30px;
    float:left;
    padding:10px;
    text-align: center;
}


.dogOuter{
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    margin-bottom: 10px;
}


.about {
    line-height:20px;
    background-color:#FFFFFF;
    height:200px;
    width:100%;
    margin-bottom: 80px;
}

.aboutInner {
    margin: 0 auto;
     margin-bottom: 80px;
}

.tableInner {
    width: 70%;
    margin: 0 auto;
     margin-bottom: 80px;
}

#inLineImg{
    max-width: 70%;
        margin: 0 auto;
     margin-bottom: 80px;
}

a {
    text-decoration:none;
}

p a:visited{color:#6ACC76;}
p a:link{color:#6ACC76;}


a:link    {color:#404040;}  
a:visited {color:#404040;}  
a:hover   {color:#404040;}  
a:active  {color:#404040;} 


 /* unique title formatting for nav bar */
h1.title {
    text-align: center;
}

.canvasContainer {
   position: absolute;
   left: 50%;
   top: 50%;
   z-index: -1;
}

.linkCanvas {
    position: relative;
    left: -65px;
    top: -65px;
}

.navbarElement {
    left: 0; top: 0;
    position: relative;
    float: left;
    z-index: 10;
}

a:hover {
    color:#404040;
} 

tr.spaceUnder > td {
  padding-bottom: 100px;
}
.bold{
    font-weight:bold;
}

.drawingsTable{
     margin: 0 auto;
    width:765px;
    height:100%;
}

.parDiv{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.parImg{
    float:left;
    margin:30px;
    width:25%;
    height: 100%;
}

.parText{
    float:right;
    margin:10px;
    width:300px;
    float:left;
    height: 100%
}

.parP{
    margin-bottom: 30px;
}

figcaption{
    margin-bottom: 30px;
}

.listInner{
    width:300px;
    float:left;
}

.center{
    text-align: center;
}

.workIcon{
    width:230px;
    height:auto;
}

.centeredDiv{
    margin-left:auto; 
    margin-right:auto;
    width:300px;
    text-align: center;
}


@media(max-width : 600px) {
    .aboutInner{
        width:90%;
    }
}

@media(max-width : 900px) {
    .aboutInner{
        width:70%;
    }
}

@media(min-width : 900px) {
    .aboutInner{
        width:50%;
    }
}

