
@import url('http://fonts.googleapis.com/css?family=Amatic+SC:400,700,400italic,700italic');
@import url('http://fonts.googleapis.com/css?family=Karla:400italic,800italic,400,800');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');

H1, H2, H3 {
    text-align:center; 
    color:#404040; 
    font-family: 'Amatic SC', sans-serif;
    font-size: 200%;} 

H1 {font-size: 254%;
    letter-spacing: 7px;}

H3 {font-family: 'Open Sans';
    font-weight: 300;
    font-size: 125%;}

H4 {font-family: 'Open Sans';
    font-weight: 300;
    font-size: 75%;  
    color:#999999;
    padding-bottom: 2cm;
    letter-spacing: 3px;
}

p, td, finePrint {
    font-family: 'Open Sans';
    text-align: left;
    font-size: 16px;
    color: #404040;
    }

td{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#index{
    text-align: center;
}

#contact{
    text-align: center;
}

finePrint {
    color:#404040; 
    font-size: 12px;
    text-align: center;
}    

span {font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px}

#footer {
    bottom: 10px;
    width: 100%;
    text-align: center;
}



body {
    background-color: #FFFFFF;
} 

 /* navigation bar at top of each page */

.navbarLink {
	font-family: 'Open Sans';
    font-weight: 300;
    font-size: 15pt;
    color: black;
    margin-left: 18px;
    margin-right: 18px;
    color: #B3B3B3 !important;
}

.selected {
	color: #404040 !important;
}

.textLink {
font-family: 'Open Sans';
    text-align: left;
    font-size: 16px;
    color: #404040;;
}
.resume{
    text-align: center;
}

 IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

#nav {
    display: table;
    line-height:46px;
    background-color:#FFFFFF;
    height:175px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 25px;
}

#rightNav {
    float:right;
    margin-right: 100px;
}

#leftNav {
    float:left;
    margin-left: 100px;
}

.dog {
    line-height:50px;
    float:left;
    padding:10px;
    text-align: center;
}


.dogOuter{
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    height: 340px;
    margin-bottom: 40px;
}


.about {
    line-height:30px;
    background-color:#FFFFFF;
    height:200px;
    width:100%;
    margin-bottom: 80px;
}

.aboutInner {
    width: 50%;
    margin: 0 auto;
     margin-bottom: 80px;
}

#inLineImg{
    max-width: 70%;
        margin: 0 auto;
     margin-bottom: 80px;
}

a {
    text-decoration:none;
}

p a:visited{color:#6ACC76;}
p a:link{color:#6ACC76;}


a:link    {color:#404040;}  
a:visited {color:#404040;}  
a:hover   {color:#404040;}  
a:active  {color:#404040;} 


 /* unique title formatting for nav bar */
h1.title {
    text-align: center;
}

.canvasContainer {
   position: absolute;
   left: 50%;
   top: 50%;
   z-index: -1;
}

.linkCanvas {
    position: relative;
    left: -65px;
    top: -65px;
}

.navbarElement {
    left: 0; top: 0;
    position: relative;
    float: left;
    z-index: 10;
}

a:hover {
    color:#404040;
} 

tr.spaceUnder > td {
  padding-bottom: 100px;
}