
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic');


body{
    margin:0;
    color: #212121;
    font-family: 'Open Sans',sans-serif;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
}

nav{
    border-bottom: 1px solid rgba(0,0,0,0.07);
    height:60px;
}

h1, h2, h3 {
    color:#404040; 

} 

.linkout{
    display:inline-block;
}

.linkout a{
    display:block;
}


.personas h3{
    font-weight: 300;
    font-size: 32px;
    font-style: italic;
}

.personas tr:nth-child(4) td{
    text-align: center;
}

.skill{
    font-weight:600;
}

h1{
    color:#404040; 
    font-family:'Montserrat', sans-serif;
    font-weight:300;
    font-size: 2.4em;
}

.img-tile{
    width:100px;
    padding:50px 10px 60px;
    display:inline-block;
}

.article-content h1{    
    padding-bottom: 20px;
}

#logotype{
    height: 30px;
    margin: 14px;
}

p.intro{
    font-size:1.8em;
    margin-bottom:40px;
    font-family:'Montserrat';
}

#project-summary p{
    margin-bottom:10px;
}


h2 {font-size: 1em;
    font-weight:600;
    text-align: left;
    text-transform:uppercase;
    letter-spacing: 0.06em;
    margin: 40px 0 10px;
    font-family: 'Montserrat';
}

h6 {font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.14em;  
    color:#979797;
    margin:0;
    font-weight:300;
    margin-bottom:4px;
    text-transform: lowercase;
}


p{
    margin-bottom: 10px;
    margin-top:0;
    z-index:5;
}

a.linkout{
    color: #6ACC76 !important;
}

p, td, .caption, li {
    font-family: 'Open Sans';
    font-size: 1em;
    color: #404040;
    line-height: 150%;
    font-weight:400;
    }

td{
    padding:0 10px;
    vertical-align: top;
}

td .quote{
    text-align:center;
}

td:first-child{
    padding-left:0;
}

td:last-child{
    padding-right:0;
}

.quote{
	font-weight: 400;
    font-size: 1.2em;
    font-style: italic;
    color:#404040;
}

.caption{
    text-align:center;
}

#index{
    text-align: center;
}

#contact{
    text-align: center;
}
   

footer {
    bottom: 10px;
    text-align: center;
    padding-bottom: 40px;
}


body {
    background-color: #FFFFFF;
} 

li{
    padding-bottom:6px;
}

 /* navigation bar at top of each page */

.nav-link {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1em;
    color: black;
    color: #979797 !important;
    padding: 18px 4px;
}

.selected > a{
    color: #404040 !important;
    font-weight:500;
}

.textLink {
    font-family: 'Open Sans';
    text-align: left;
    font-size: 16px;
    color: #404040;;
}
.resume{
    text-align: center;
}

 img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}


.project-tile .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 5px);
    opacity:0;
    background: rgba(34, 86, 96, .1);
    border-radius:3px;

-o-transition: .3s;
-ms-transition: .3s;
-moz-transition: .3s;
-webkit-transition: .3s;
}



.project-tile:hover .after {
    display: block;
    opacity:1;
    
-o-transition: .3s;
-ms-transition: .3s;
-moz-transition: .3s;
-webkit-transition: .s;
}

img.full-width{
    width:100%;
}

.bigImg{
    width:60%;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }



#rightNav {
    float:right;
    margin-right: 100px;
    padding-top: 35px;
}

#leftNav {
    float:left;
    margin-left: 100px;
    padding-top: 35px;
}

.dog {
    line-height:30px;
    float:left;
    padding:10px;
    text-align: center;
}


.dogOuter{
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    margin-bottom: 10px;
}


.container {
    background-color:#FFFFFF;
    width:100%;
}

.content {
    margin: 0 auto;
     margin-bottom: 80px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width:1300px;
}

.tableInner {
    width: 70%;
    margin: 0 auto;
     margin-bottom: 80px;
}

#inLineImg{
    max-width: 70%;
        margin: 0 auto;
     margin-bottom: 80px;
}

a {
    text-decoration:none;
}

p a:visited{color:#6ACC76;
    font-weight:400;}
p a:link{color:#6ACC76;
    font-weight:400;}


h4 a:link{
    color: #6ACC76;
}

h4 a:visited{
    color: #6ACC76;
}


a:link    {color:#404040;}  
a:visited {color:#404040;}  
a:hover   {color:#404040;}  
a:active  {color:#404040;} 


 /* unique title formatting for nav bar */
h1.title {
    display:inline-block;
}

.canvas-container {
   position: absolute;
   left: 50%;
   top: 50%;
   z-index: -1;
}

.link-canvas {
    position: absolute;
    left: -130px;
    top: -130px;
    -ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5);
}

.nav-element {
    z-index: 10;
    text-transform: uppercase;
    display: inline-block;
    height:60px;
}

.nav-element.selected{
    height: 39px;
    border-bottom: 3px solid #6ACC76;
}

.nav-links{
    float:right;
    margin-top:18px;
}

a:hover {
    color:#404040;
} 

tr.spaceUnder > td {
  padding-bottom: 100px;
}
.bold{
    font-weight:bold;
}

.drawingsTable{
     margin: 0 auto;
    width:765px;
    height:100%;
}

table{
	margin-bottom:40px;
}

.parDiv{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.parImg{
    float:left;
    margin:30px;
    width:25%;
    height: 100%;
}

.parText{
    float:right;
    margin:10px;
    width:300px;
    float:left;
    height: 100%
}

.parP{
    margin-bottom: 30px;
}

figcaption{
    margin-bottom: 30px;
    margin-top:10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}


.center{
    text-align: center;
}

.thumbnail-img{
    width:96%;
    height:auto;
    margin:0;
}

.centeredDiv{
    margin-left:auto; 
    margin-right:auto;
    width:300px;
    text-align: center;
}
#content{
    margin-left: auto;
    margin-right:auto;
}


@media(max-width : 600px) {
    .content{
        width:95%;
    }

    #rightNav{
        margin-right:10px;
    }
    #leftNav{
        margin-left:10px;
    }
    .bigImg{
        width:100%;
    }
    .about{
        padding-bottom: 40px;
    }
    .nav-link{
        margin:0 ;
    }
    #borderline{
        width:100%; 
    }
    .link-image{
        margin-left:auto;
        margin-right:auto;
    }
    .project{
        margin:40px 10px;
    }
    .thumbnail-img{
        margin:20px 0 10px 0;
    }
    .problem-action-result{
        padding-bottom:40px;
    }
    .tumblr-photo{
        width:100%;
    }
    .tumblr_photo_post{
        width:300px;
    }
    .nav-element{
        margin: 0 6px;
    }

     .article-title-img{
        width:100%;
    }
}

@media(max-width : 900px) {



    .content{
        width:90%;
    }
    .desktop{
        display:none;
    }
    .article-content{
        margin:80px 20px;
    }
    .project-tile{
        margin-bottom: 50px;
    }
}

@media(min-width : 600px) {
    #borderline{
        width:800px; 
    }
    .project{
        height:220px;
    }
    #content{
        width:900px;
    }

    .portfolio-description{
        width:67%;
        float:right;
    }
    .problem-action-result{
        padding-right:20px;
    }

    li.tumblr_post{
        display:inline-block;
    }
    .right-panel{
        float:right;
        padding:0 0 0 20px;
        width:33%;
        margin:0 0 20px 30px;
    }

    .right-column{
        width:67%;
        float:right;
    }


    .third-list{
        width:50%;
        float:left;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .content{
        padding-top:40px;
    }

    #project-summary{
        padding-bottom:40px;
    }
    nav {
        padding:0 40px;
        width: calc(100% - 80px);
        background-color: rgba(255,255,255,0.9);
        top:0;
        position:fixed;
        z-index: 100;
    }
    .title-top{
        margin-top:100px;
    }
    .grid-img-1-3{
        width:calc(32% - 20px);
        padding:10px;
    }
    .grid-img-2-3{
        width:calc(64% - 20px);
        padding:10px;
        display: block;
        margin: auto;
    }

    .img-group{
        margin:10px auto 70px;
        display:block;
    }

    .flex-1-3{
        flex:1;
        order:2;
    }
    .flex-2-3{
        flex:2;
    }

    .nav-element{
        margin: 0 18px;
    }

     .article-title-img{
        height:280px; 
    }
}

@media(min-width : 900px) {

    .project-tile{
        margin-right: 20px;
    }
    .content{
        margin-left:40px;
        margin-right:40px;
        display:flex;
    }
    .article-content{
        width:760px;
        margin:auto;
        margin-top: 120px;
    }

    #lg-media-view{
        background-image: url('../images/LOCALGROUND/presentation2.png');
        height: 600px;
    }

    #lg-map-view{
        background-image: url('../images/LOCALGROUND/presentation3.png');
        height: 540px;
    }

    #lg-presentation-view{
        background-image: url('../images/LOCALGROUND/presentation.png');
        height:500px;
    }

    #eah-search-wf{
        background-image: url('../images/etalhealth/wireframe.png');
        height:560px;
    }

    #eah-profile-wf{
        background-image: url('../images/etalhealth/wireframe2.png');
        height:600px; 
        padding-top: 60px;       
    }

    #eah-search-final{
        background-image: url('../images/etalhealth/wireframe3.png');
        height:500px;
    }

    #eah-profile-final{
        background-image: url('../images/etalhealth/wireframe4.png');
        height:500px;  
        padding-bottom: 40px; 
    }

    .design-feature{
        background-size: 860px auto;
        background-color: rgba(0,0,0,0.035);
        background-repeat:no-repeat;
        background-position: center;
    }

    .design-feature.localground{
        background-color:rgba(0,0,60,0.035);
    }
    .desktop{
        display:block;
    }



}

.article-title-img{
    margin: auto; 
    text-align: center;
    display:block;
}



.link-image{
    width:240px;
    height:auto;
    margin:auto;
}


/*Layout*/
.one-third-col{
    flex:4;
    text-align: center;
}


.project-img img{
    width:100%;
    border-radius: 3px;
}

.two-thirds-col{
    flex:8;
}

.one-sixth-col{
    flex:2;
}

#borderline{
    border-style: none none dotted;
	border-color: #e5e5e5;
	border-width: 3px;
    margin-bottom: 40px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}

.case-study{
    margin-bottom: 10px;
}

p.case-study{
    margin-bottom: 18px;
}

.skills{
    font-style: italic;
}

.bullet-lead{
    font-weight:600;
    font-style:italic;
}


.right-panel img{
     width:100%;
     height:auto;
}

figure{
    text-align:center;
}


.link-icons{
    text-align: left;
    margin-top: 40px;
}

.link-icons .fa{
    font-size: 2em;
    padding-right:20px;
}

.footer-icons .fa{
    font-size:1em;
    padding:10px;
    padding-bottom:20px;

}

.fa{
    color:#6ACC76;
    padding-right:4px;
}

.grid__row {
  display: flex;
  flex-direction: row;
}

.portrait {
  flex: 1;
}
.biography {
  flex: 3;
}

.blog-content{
    width:480px;
    margin: 0 auto;
    text-align:center;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 40px;
}

li.tumblr_post { 
    text-align:center;
    padding:10px;
}
ol.tumblr_posts { 
    list-style: none;
    padding: 0;
    margin: 0;
}


.problem-action-result{
    text-align: left;
    width:250px;
    display: inline-block;
    vertical-align: top;
}

.problem-action-result:last-child { padding-right: 0; }

.problem-action-result .fa{
    font-size:4em;
    padding-bottom:10px;
}

#project-summary{
    margin-top:60px;
    display:flex;
}

.tumblr_caption{
    max-width:400px;
}

.next-project{
    margin:0 13px;
}

/*.dotted-spaced {
  background-image: linear-gradient(to right, #d3d3d3 10%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}*/

.third-list > ul{
    padding-left: 16px;
    padding-right: 20px;
}

.portrait{
    margin-top: 60px;
}




.project-img{
    position:relative;
    margin-bottom: 10px;
}

.project-tile:last-child{
    margin-right: 0;
}

.project-tile > h3{
    margin:0;
    font-family:'Montserrat';
    text-transform:uppercase;
    font-size:1em;
    text-align: left;
}

.project-tile > h4{
    margin:0;
    text-align: left;
    font-family:'Lato';
    font-style:italic;
    font-weight:400;
}

.project-title{
    margin-bottom:40px;
}

.project-title > h2{
    margin:6px 0 0;
}

.mockup{
    width:100%;
    height:auto;
    padding:20px 0 40px;
}

.article-flex{
    display:flex;
}

.more-projects{
    padding-top: 70px;
    padding-bottom: 40px;
    margin-top:100px;
    border-top:1px solid #d3d3d3;
}

.more-projects > div{
    display:flex;
}

.more-projects .fa-arrow-circle-right, .more-projects .fa-arrow-circle-left{
    padding-top:10px;
    font-size:2em;
}


.tmblr-iframe {
    top:70px !important;
    right: 10px !important;
}

.amaze-grad{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bc9dd7+0,dccae3+100 */
    background: #bc9dd7; /* Old browsers */
    background: -moz-linear-gradient(left, #bc9dd7 0%, #dccae3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #bc9dd7 0%,#dccae3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #bc9dd7 0%,#dccae3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc9dd7', endColorstr='#dccae3',GradientType=1 ); /* IE6-9*/
}


