
@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700,300italic,400italic,700italic');


h1, h2, h3 {
    text-align:center; 
    color:#404040; 
    font-family: 'Lato', sans-serif;
    font-size: 200%;
    line-height:110%;

} 


h1 {font-size: 2.5em;
    font-weight:300;
    margin:0;
}

h2 {font-size: 1.7em;
    font-weight:400;
    text-align: left;
    border-style: none none dotted;
	border-color: #e5e5e5;
	border-width: 3px;
	padding-bottom: 10px;
}

h3 {
    font-weight: 300;
    font-size: 1.7em;
    font-style: italic;
    margin-top:40px;
    margin-bottom:10px;
    text-align: left
}

h4 {font-family: 'Lato';
    font-weight: 400;
    font-size: 1em;  
    color:#545454;
    margin:0;
}

h6 {font-family: 'Lato';
    font-weight: 400;
    font-size: 1em;  
    color:#979797;
    margin:0;
    font-weight:300;
    margin-bottom:4px;
}


p{
    margin-bottom: 8px;
    margin-top:0;
    z-index:5;
}

p, td, .caption, li {
    font-family: 'Lato';
    font-size: 1.0em;
    color: #404040;
    line-height: 150%;
    font-weight:300;
    }

td{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}

.quote{
	font-weight: 400;
    font-size: 1.2em;
    font-style: italic;
    color:#404040;
}

.caption{
    text-align:center;
}

#index{
    text-align: center;
}

#contact{
    text-align: center;
}
   

span {font-family: 'Lato';
    font-weight: 300;
    font-size: 1em;
    color:#979797;
    line-height: 40%;
    font-style: italic;
}

#footer {
    bottom: 10px;
    width: 100%;
    text-align: center;
}


body {
    background-color: #FFFFFF;
} 

 /* navigation bar at top of each page */

.navbarLink {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1em;
    color: black;
    margin-left: 28px;
    margin-right: 28px;
    color: #979797 !important;
}

.selected {
    color: #404040 !important;
    font-weight:400;
}

.textLink {
    font-family: 'Lato';
    text-align: left;
    font-size: 16px;
    color: #404040;;
}
.resume{
    text-align: center;
}

 img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 30px;

}

.bigImg{
    width:60%;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

#nav {
    display: table;
    line-height:36px;
    background-color:#FFFFFF;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 15px;
    font-weight: 300;
    letter-spacing: .07em;
    color:#979797;
}

#rightNav {
    float:right;
    margin-right: 100px;
    padding-top: 35px;
}

#leftNav {
    float:left;
    margin-left: 100px;
    padding-top: 35px;
}

.dog {
    line-height:30px;
    float:left;
    padding:10px;
    text-align: center;
}


.dogOuter{
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    margin-bottom: 10px;
}


.about {
    line-height:20px;
    background-color:#FFFFFF;
    width:100%;
    padding-bottom: 200px;
}

.aboutInner {
    margin: 0 auto;
     margin-bottom: 80px;
}

.tableInner {
    width: 70%;
    margin: 0 auto;
     margin-bottom: 80px;
}

#inLineImg{
    max-width: 70%;
        margin: 0 auto;
     margin-bottom: 80px;
}

a {
    text-decoration:none;
}

p a:visited{color:#6ACC76;
    font-weight:400;}
p a:link{color:#6ACC76;
    font-weight:400;}


h4 a:link{
    color: #6ACC76;
}

h4 a:visited{
    color: #6ACC76;
}


a:link    {color:#404040;}  
a:visited {color:#404040;}  
a:hover   {color:#404040;}  
a:active  {color:#404040;} 


 /* unique title formatting for nav bar */
h1.title {
    text-align: center;
}

.canvasContainer {
   position: absolute;
   left: 50%;
   top: 50%;
   z-index: -1;
}

.linkCanvas {
    position: absolute;
    left: -130px;
    top: -130px;
    -ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5);
}

.navbarElement {
    left: 0; top: 0;
    position: relative;
    float: left;
    z-index: 10;
    margin-top:10px;
}

a:hover {
    color:#404040;
} 

tr.spaceUnder > td {
  padding-bottom: 100px;
}
.bold{
    font-weight:bold;
}

.drawingsTable{
     margin: 0 auto;
    width:765px;
    height:100%;
}

table{
	margin-bottom:40px;
}

.parDiv{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.parImg{
    float:left;
    margin:30px;
    width:25%;
    height: 100%;
}

.parText{
    float:right;
    margin:10px;
    width:300px;
    float:left;
    height: 100%
}

.parP{
    margin-bottom: 30px;
}

figcaption{
    margin-bottom: 30px;
    margin-top:10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.listInner{
    width:300px;
    float:left;
    margin-bottom: 50px;
}

.center{
    text-align: center;
}

.workIcon{
    width:90%;
    height:auto;
    margin:0;
}

.centeredDiv{
    margin-left:auto; 
    margin-right:auto;
    width:300px;
    text-align: center;
}
#content{
    margin-left: auto;
    margin-right:auto;
}


@media(max-width : 600px) {
    .aboutInner{
        width:95%;
    }

    #rightNav{
        margin-right:10px;
    }
    #leftNav{
        margin-left:10px;
    }
    .bigImg{
        width:100%;
    }
    .about{
        padding-bottom: 80px;
    }
    .navbarLink{
        margin:0 10px;
    }
    #borderline{
        width:100%; 
    }
    .portfolioImage{
        margin-left:auto;
        margin-right:auto;
    }
    .project{
        margin:40px 10px;
    }
    .workIcon{
        margin:20px 0 10px 0;
    }
    .problem-action-result{
        padding-bottom:20px;
    }
    .tumblr-photo{
        width:100%;
    }
    .tumblr_photo_post{
        width:300px;
    }
}

@media(max-width : 900px) {
    .aboutInner{
        width:90%;
    }
}

@media(min-width : 600px) {
    #borderline{
        width:800px; 
    }
    .project{
        height:220px;
    }
    #content{
        width:800px;
    }

    .portfolio-description{
        width:69%;
        float:right;
    }
    .portfolioImage{
        float:left;
    }
    .problem-action-result{
        padding-right:20px;
    }

    li.tumblr-post{
        display:inline-block;
    }


}

@media(min-width : 900px) {
    .aboutInner{
        width:800px;
    }
}

.portfolioImage{
    width:240px;
    height:auto;
}




.project-title{
    margin-bottom: 
}

#borderline{
    border-style: none none dotted;
	border-color: #e5e5e5;
	border-width: 3px;
    margin-bottom: 40px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}

.case-study{
    margin-bottom: 10px;
}

p.case-study{
    margin-bottom: 18px;
}

.skills{
    font-style: italic;
}

.right-panel{
    width:40%;
    height:auto;
    float:right;
    padding:20px;
}

.right-panel img{
     width:100%;
     height:auto;
}

figure{
    text-align:center;
}


.link-icons{
    text-align: center;
}

.link-icons .fa{
    font-size: 2em;
    padding:10px;
}

.footer-icons .fa{
    font-size:1em;
    padding:10px;
    padding-bottom:20px;

}

.fa{
    color:#6ACC76;
    padding-right:4px;
}

.grid__row {
  display: flex;
  flex-direction: row;
}

.portrait {
  flex: 1;
}
.biography {
  flex: 3;
}

.sketchInner{
    width:880px;
    margin: 0 auto;
    
}

li.tumblr_post { 
    text-align:center;
    padding:10px;
}
ol.tumblr_posts { 
    list-style: none;
    padding: 0;
    margin: 0;
}


.problem-action-result{
    text-align: center;
    width:244px;
    display: inline-block;
    vertical-align: top;
}

.problem-action-result:last-child { padding-right: 0; }

.problem-action-result .fa{
    font-size:4em;
    padding-bottom:10px;
}

#project-summary{
    text-align:center;
    margin-top:30px;
}

.tumblr_caption{
    max-width:400px;
}
